{% extends "base.html" %}

{% block content %}
<h4 class="text-muted">Русский язык >> ⰃⰎⰀⰃⰑⰎⰋⰜⰀ</h4>
<form action="" method="post">
    {{form.hidden_tag()}}
    <div class="row g-2">
        <div class="col-md">
            <div class="form-floating">
                {{form.content.label}}<br>
                {{form.content(class="form-control") }}
            </div>
        </div>
        <div class="col-md">
            {{ form.submit(type="submit", class="btn btn-primary")}}
        </div>
        <div class="col-md">
            <div class="form-floating">
                <label for="floatingTextarea">ⰃⰎⰀⰃⰑⰎⰋⰜⰀ</label><br>
                <textarea class="form-control" placeholder="Leave a comment here"
                          id="floatingTextarea">{{result}}</textarea>
            </div>
        </div>
    </div>

</form>


<ul class="list-group list-group-horizontal-xxl">
    {% for item in history %}
    <li class="list-group-item">{{item.content}} - {{item.result}} <a href="/old_trans_delete/{{ item.id }}" class="btn btn-danger">
        Удалить
    </a> {{item.created_date}}</li>
    {% endfor %}
</ul>

{% endblock %}